@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}
body {
  background-color: #1f324c;
  padding: 0 20vh;
}
code {
  color: #ffffff;
  font-weight: normal;
  margin-top: 0;
}
h1 {
  text-align: center;
  color: #fff;
  margin-top: 100px;
}
h2 {
  margin-top: 10px;
  color: #fff;
}
h3 {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}
h4 {
  color: #fff;
  margin-bottom: 30px;
  font-weight: normal;
}
ol,
ul {
  color: #fff;
}
a {
  color: #4da3ff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

a:hover {
  color: #82cfff;
  text-decoration: underline;
}

a:visited {
  color: #b3d4ff;
}
.flex-row {
  display: flex;
}
.code {
  background-color: #171717;
  border-radius: 8px;
  margin: 60px 10vw;
  padding: 20px;
}
.code-header {
  background-color: transparent;
  color: #eeeeee;
  margin-bottom: 30px;
}
.commented-code {
  color: #898989;
}
.gray-code {
  color: #9f9f9f;
  font-weight: normal;
}
.green-code {
  color: #029a75;
  font-weight: normal;
}
.blue-code {
  color: #2a7fb3;
  font-weight: normal;
}
.yellow-code {
  color: #c57f0e;
  font-weight: normal;
}
.lesson-footer {
  display: flex;
  justify-content: space-between;
}
.previous-button-disabled {
  border: 1px solid #313d50;
  padding: 15px;
  background: transparent;
  color: #8d929b;
}
.complete-lesson {
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(90deg, #21c25d, #059669);
  border: none;
  color: #fff;
}
.circle-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fafafa;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
}
